/*-----------------------------------FOOTER--------------------------------------------------*/

.site-footer {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  z-index: 0;
  background-color: white;
  padding-top: 20px;
}

.footer-top {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 75%;
  margin: 20px auto;
}

.column {
  display: flex;
  flex-direction: column;
  width: 25%;
  text-align: center;
  border-style: solid;
  text-align: left;
  margin-inline: 10px;
  text-align: center;
}

.footer-logo {
  display: flex;
  justify-content: center;
  height: 25%;
}

.footer-hours {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  width: 60%;
}
dd {
  text-align: left;
  border-style: solid;
}

.footer-navigation {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: 0 auto;
}

.link {
  margin: 0 20px;
  text-decoration: none;
  font-size: 16px;
}
.link:hover {
  color: rgb(0, 69, 133);
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 1);
}

.footer-icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.copyright {
  justify-content: center;
  font-size: 12px;
  margin: 0 auto;
}

@media (max-width: 800px) {
  .footer-navigation .navbar-options {
    display: flex;
    flex-direction: column;
  }

  .site-footer {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 90%;
    padding: 20px auto;
    z-index: 0;
    padding-bottom: 10px;
    padding-top: 40px;
    margin: 20px auto;
  }

  .footer-top {
    flex-direction: column;
    align-items: center;
  }

  .footer-column {
    margin-top: 10px;
    padding: 10px;
  }

  .site-footer .social-buttons {
    display: flex;
    flex-direction: row;
    transform: scale(0.75);
  }
}
