/*-----------------------------------FOOTER--------------------------------------------------*/

.site-footer {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  z-index: 0;
  background-color: black;
  padding-top: 20px;
}

.footer-top {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  width: 75%;
  height: 100%;
  margin: 20px auto;
  color: rgb(255, 253, 231);
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 25%;
  min-height: 100%;
  margin: 0 10px;
  font-family: "Brandink";
  border-style: solid;
}
.column h2 {
  text-align: center;
  font-family: "CaviarDreams";
  font-size: 2em;
  padding: 10px;
  margin-top: 0;
}
.column h3 {
  text-align: center;
  font-family: "BrandinkLight";
  font-size: 1.2em;
  font-weight: 600;
  padding: 10px;
  margin-top: 0;
}

.footer-logo {
  display: flex;
  justify-content: center;
  margin: 20px auto;
  height: 15%;
}
.footer-logo img {
  display: flex;
  width: 100%;
  object-fit: contain;
}
.footer-address {
  margin: 20px auto;
}
.footer-address p {
  font-family: "BrandinkLight";
  text-align: left;
}

.footer-hours {
  display: flex;
  flex-direction: row;
  width: 60%;
  margin: 2px auto;
}
.footer-hours dt {
  margin-right: auto;
  font-family: "BrandinkLight";
}
.footer-hours dd {
  margin-left: auto;
  font-family: "BrandinkLight";
}

.footer-navigation {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.footer-navigation li {
  margin-block: 4px;
  text-align: left;
  font: "BrandinkLight";
}

.footer-navigation .link {
  text-decoration: none;
  font-size: 16px;
  font: "BrandinkLight";
}

.footer-contact {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}
.footer-icon {
  transform: scale(125%);
  margin: 20px 8px;
}

.copyright {
  justify-content: center;
  font-size: 12px;
  margin: 0 auto;
  color: white;
}

@media (max-width: 800px) {
  .footer-navigation .navbar-options {
    display: flex;
    flex-direction: column;
  }

  .site-footer {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 90%;
    padding: 20px auto;
    z-index: 0;
    padding-bottom: 10px;
    padding-top: 40px;
    margin: 20px auto;
  }

  .footer-top {
    flex-direction: column;
    align-items: center;
  }

  .footer-column {
    margin-top: 10px;
    padding: 10px;
  }

  .site-footer .social-buttons {
    display: flex;
    flex-direction: row;
    transform: scale(0.75);
  }
}
