/*-----------------------------------HOME PAGE-------------------------------------------------*/
.home-page {
  background-size: cover;
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-attachment: scroll; /* js will handle slow scroll */
  z-index: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  color: rgb(255, 253, 231);
  font-family: "Brandink";
}

.hero {
  z-index: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  margin: 0 auto;
}

.hero-filter {
  position: absolute;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.8) 0%,
    rgba(0, 0, 0, 0.7) 25%,
    rgba(0, 0, 0, 0.2) 50%,
    rgba(0, 0, 0, 0.7) 75%,
    rgba(0, 0, 0, 0.8) 100%
  );
  width: 100%;
  height: 100%;
  z-index: 10;
}
/*-----------------------------------HERO SWIPER-------------------------------*/
.hero-swiper {
  position: relative;
  height: 100%;
  width: 100%;
}

.hero-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 15% auto;
}

.hero-title h1 {
  font-family: "GaretBook";
  font-size: 6em;
  font-weight: 100;
  line-height: 1;
  margin: 0 auto;
  color: rgb(255, 255, 255);
  text-shadow: 0 0 4px rgba(0, 0, 0, 1);
}

.hero-title h2 {
  font-family: "BrandinkLight";
  font-size: 2.8em;
  font-weight: 400;
  line-height: 1;
  margin: 20px auto;
  text-shadow: 0 0 4px rgba(0, 0, 0, 1);
}

.hero-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-block: 20px auto;
}
.button1 {
  justify-content: center;
  align-items: center;
  margin: 0 20px;
  padding: 12px 12px;
  color: white;
  font-family: "GaretBook";
  font-size: 1.4em;
  text-decoration: none;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(255, 255, 255);
  backdrop-filter: blur(10px);
}
.button1:hover {
  box-shadow: 0 0 6px rgba(255, 255, 255, 1);
  text-shadow: 0 0 16px rgba(255, 255, 255, 1);
}

.focus {
  background-color: rgba(223, 223, 223, 0.2);
}

/*----------------------------------- ROW -----------------------------------------*/

.home-row {
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 75vh;
  width: 100%;
  margin: 0 auto;
}

.row-text {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
}

.row-text h2 {
  max-width: 75%;
  padding: 20px;
  color: rgb(255, 255, 255);
  font-family: "BrandinkLight";
  font-size: 3em;
  font-weight: 100;
  text-align: center;
  text-shadow: 0 0 6px rgba(255, 255, 255, 0.3);
}

.row-text h3 {
  max-width: 75%;
  padding: 20px;
  color: rgb(255, 255, 255);
  font-family: "GaretBook";
  font-size: 2em;
  font-weight: 100;
  text-align: center;
}

.row-text p {
  max-width: 75%;
  margin: 20px 0;
  font-family: "GaretBook";
  font-size: 1.3em;
  text-align: left;
  line-height: 1.5;
}
.row-text ul {
  max-width: 75%;
  margin-block: 0 40px;
  list-style: none;
}

.row-text li {
  padding: 6px 0;
  font-family: "CaviarDreams";
  font-size: 1.3em;
  text-align: left;
  color: white;
}

.row-media {
  box-sizing: border-box;
  width: 50%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.row-media img,
.row-media iframe {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0;
  border: 0;
}

.row-media img {
  object-fit: cover;
}

.row-button {
  justify-content: center;
  align-items: center;
  width: fit-content;
  margin: 20px auto;
  padding: 12px 12px;
  color: white;
  font-family: "GaretBook";
  font-size: 1.2em;
  text-decoration: none;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(255, 255, 255);
  backdrop-filter: blur(10px);
}
.row-button:hover {
  box-shadow: 0 0 6px rgba(255, 255, 255, 1);
  text-shadow: 0 0 16px rgba(255, 255, 255, 1);
}

.image-row {
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 75vh;
  width: 100%;
  overflow: hidden;
}
.image-row img {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(2px);
  transform: scale(1.08);
}

.image-text {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  max-width: 50%;
  text-shadow: 0 0 4px rgba(0, 0, 0, 1);
}
.image-row h2 {
  max-width: 75%;
  margin: 0 auto;
  padding: 20px;
  font-family: "BrandinkLight";
  font-size: 3em;
  font-weight: 100;
  text-align: center;
  color: rgb(255, 255, 255);
}

.image-row p {
  max-width: 75%;
  margin: 20px auto;
  font-family: "GaretBook";
  font-size: 1.3em;
  text-align: center;
  line-height: 1.5;
}
@media (max-width: 800px) {
  .home-page {
    flex-direction: column;
    height: 100%;
  }

  .hero {
    z-index: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    margin: 0 auto;
  }
  .hero-filter {
    height: 100vh;
  }
  .hero-title {
    margin: 50% auto;
    padding-bottom: 20px;
  }
  .hero-title h1 {
    font-size: 3.5em;
  }
  .hero-title h2 {
    font-size: 1.6em;
  }
  .hero-buttons {
    flex-direction: column;
    margin: 0 auto;
  }
  .button1 {
    margin: 10px;
  }
  .home-row {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
  }
  .row-text {
    width: 100%;
    height: fit-content;
    margin: 20px auto;
  }
  .row-text h2 {
    max-width: 80%;
    margin-block: 10px;
    padding: 0;
    font-size: 2.2em;
    line-height: 1.25;
    text-align: center;
  }
  .row-text p {
    font-size: 1.2em;
  }
  .row-text li {
    font-size: 1.2em;
  }

  .row-text.right {
    width: 100%;
    margin: 0 auto;
  }
  .row-text.left {
    width: 100%;
    margin: 0 auto;
  }
  .row-media {
    width: 100%;
    justify-content: center;
    margin: 0 auto;
  }
  .row-media img {
    width: 100%;
    margin-block: 10px;
  }
}
